In [77]:
import pandas as pd

In [78]:
data = pd.read_json('nested_data.json')

In [79]:
data.head()

                                            programs
0  {'season': '1842-43', 'orchestra': 'New York P...
1  {'season': '1842-43', 'orchestra': 'New York P...
2  {'season': '1842-43', 'orchestra': 'Musicians ...
3  {'season': '1842-43', 'orchestra': 'New York P...
4  {'season': '1843-44', 'orchestra': 'New York P...

In [80]:
programs = pd.json_normalize(data['programs'])

In [81]:
programs.head()

,season,orchestra,concerts,programID,works,id
0,1842-43,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':...",3853,"[{'workTitle': 'SYMPHONY NO. 5 IN C MINOR, OP....",38e072a7-8fc9-4f9a-8eac-3957905c0002
1,1842-43,New York Philharmonic,"[{'Date': '1843-02-18T05:00:00Z', 'eventType':...",5178,[{'workTitle': 'SYMPHONY NO. 3 IN E FLAT MAJOR...,c7b2b95c-5e0b-431c-a340-5b37fc860b34
2,1842-43,Musicians from the New York Philharmonic,"[{'Date': '1843-04-07T05:00:00Z', 'eventType':...",10785,"[{'workTitle': 'EGMONT, OP.84', 'composerName'...",894e1a52-1ae5-4fa7-aec0-b99997555a37
3,1842-43,New York Philharmonic,"[{'Date': '1843-04-22T05:00:00Z', 'eventType':...",5887,"[{'workTitle': 'SYMPHONY NO. 2 IN D MAJOR, OP....",34ec2c2b-3297-4716-9831-b538310462b7
4,1843-44,New York Philharmonic,"[{'Date': '1843-11-18T05:00:00Z', 'eventType':...",305,"[{'workTitle': 'SYMPHONY NO. 7 IN A MAJOR, OP....",610a4acc-94e4-4cd6-bdc1-8ad020edc7e9

In [82]:
work = pd.json_normalize(data['programs'], record_path=['works'], meta=['orchestra', 'concerts'])

In [83]:
work.head()

,workTitle,conductorName,ID,soloists,composerName,movement,interval,movement.em,movement._,workTitle.em,workTitle._,orchestra,concerts
0,"SYMPHONY NO. 5 IN C MINOR, OP.67","Hill, Ureli Corelli",52446*,[],"Beethoven, Ludwig van",NaN,NaN,NaN,NaN,NaN,NaN,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':..."
1,OBERON,"Timm, Henry C.",8834*4,"[{'soloistName': 'Otto, Antoinette', 'soloistR...","Weber, Carl Maria Von","""Ozean, du Ungeheuer"" (Ocean, thou mighty mons...",NaN,NaN,NaN,NaN,NaN,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':..."
2,"QUINTET, PIANO, D MINOR, OP. 74",NaN,3642*,"[{'soloistName': 'Scharfenberg, William', 'sol...","Hummel, Johann",NaN,NaN,NaN,NaN,NaN,NaN,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':..."
3,NaN,NaN,0*,[],NaN,NaN,Intermission,NaN,NaN,NaN,NaN,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':..."
4,OBERON,"Etienne, Denis G.",8834*3,[],"Weber, Carl Maria Von",Overture,NaN,NaN,NaN,NaN,NaN,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':..."

In [84]:
concert = pd.json_normalize(data['programs'], record_path=['concerts'], meta=['orchestra'])

In [85]:
concert.head()

,Date,eventType,Venue,Location,Time,orchestra
0,1842-12-07T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM,New York Philharmonic
1,1843-02-18T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM,New York Philharmonic
2,1843-04-07T05:00:00Z,Special,Apollo Rooms,"Manhattan, NY",8:00PM,Musicians from the New York Philharmonic
3,1843-04-22T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM,New York Philharmonic
4,1843-11-18T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",None,New York Philharmonic

In [86]:
soloist = pd.json_normalize(data['programs'], record_path=['works', 'soloists'], meta=['orchestra', 'concerts', ['works', 'workTitle']], errors='ignore')

In [87]:
type(work)

pandas.core.frame.DataFrame

In [88]:
soloist.head()

,soloistName,soloistRoles,soloistInstrument,orchestra,concerts,works.workTitle
0,"Otto, Antoinette",S,Soprano,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':...",OBERON
1,"Scharfenberg, William",A,Piano,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':...","QUINTET, PIANO, D MINOR, OP. 74"
2,"Hill, Ureli Corelli",A,Violin,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':...","QUINTET, PIANO, D MINOR, OP. 74"
3,"Derwort, G. H.",A,Viola,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':...","QUINTET, PIANO, D MINOR, OP. 74"
4,"Boucher, Alfred",A,Cello,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':...","QUINTET, PIANO, D MINOR, OP. 74"

In [89]:
movement = pd.DataFrame(work['movement'], columns=['movement'])

In [90]:
movement.head()

                                            movement
0                                                NaN
1  "Ozean, du Ungeheuer" (Ocean, thou mighty mons...
2                                                NaN
3                                                NaN
4                                           Overture

In [91]:
type(work)

pandas.core.frame.DataFrame

In [92]:
work.head()

,workTitle,conductorName,ID,soloists,composerName,movement,interval,movement.em,movement._,workTitle.em,workTitle._,orchestra,concerts
0,"SYMPHONY NO. 5 IN C MINOR, OP.67","Hill, Ureli Corelli",52446*,[],"Beethoven, Ludwig van",NaN,NaN,NaN,NaN,NaN,NaN,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':..."
1,OBERON,"Timm, Henry C.",8834*4,"[{'soloistName': 'Otto, Antoinette', 'soloistR...","Weber, Carl Maria Von","""Ozean, du Ungeheuer"" (Ocean, thou mighty mons...",NaN,NaN,NaN,NaN,NaN,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':..."
2,"QUINTET, PIANO, D MINOR, OP. 74",NaN,3642*,"[{'soloistName': 'Scharfenberg, William', 'sol...","Hummel, Johann",NaN,NaN,NaN,NaN,NaN,NaN,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':..."
3,NaN,NaN,0*,[],NaN,NaN,Intermission,NaN,NaN,NaN,NaN,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':..."
4,OBERON,"Etienne, Denis G.",8834*3,[],"Weber, Carl Maria Von",Overture,NaN,NaN,NaN,NaN,NaN,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':..."

In [93]:
import sqlite3

# Create a database connection
conn = sqlite3.connect('music.db')
cursor = conn.cursor()

# Create the tables
cursor.execute('''CREATE TABLE Orchestras (
                    orchestra_id INTEGER PRIMARY KEY,
                    name TEXT
                )''')

cursor.execute('''CREATE TABLE Concerts (
                    concert_id INTEGER PRIMARY KEY,
                    orchestra_id INTEGER,
                    date TEXT,
                    venue TEXT,
                    location TEXT,
                    time TEXT,
                    event_type TEXT,
                    FOREIGN KEY (orchestra_id) REFERENCES Orchestras(orchestra_id)
                )''')

cursor.execute('''CREATE TABLE Works (
                    work_id INTEGER PRIMARY KEY,
                    concert_id INTEGER,
                    title TEXT,
                    conductor TEXT,
                    composer_id INTEGER,
                    movement TEXT,
                    FOREIGN KEY (concert_id) REFERENCES Concerts(concert_id),
                    FOREIGN KEY (composer_id) REFERENCES Composers(composer_id)
                )''')

cursor.execute('''CREATE TABLE Soloists (
                    soloist_id INTEGER PRIMARY KEY,
                    work_id INTEGER,
                    name TEXT,
                    roles TEXT,
                    instrument TEXT,
                    FOREIGN KEY (work_id) REFERENCES Works(work_id)
                )''')

cursor.execute('''CREATE TABLE Composers (
                    composer_id INTEGER PRIMARY KEY,
                    name TEXT
                )''')

cursor.execute('''CREATE TABLE Movements (
                    movement_id INTEGER PRIMARY KEY,
                    work_id INTEGER,
                    title TEXT,
                    FOREIGN KEY (work_id) REFERENCES Works(work_id)
                )''')

# Extract and insert data into tables

# Insert Orchestras
orchestras_df = pd.DataFrame(programs['orchestra'], columns=['name'])
orchestras_df['orchestra_id'] = range(1, len(orchestras_df) + 1)
orchestras_df.to_sql('Orchestras', conn, if_exists='append', index=False)

# Insert Concerts
concerts_df = pd.DataFrame(concert[['Date', 'Venue', 'Location', 'Time', 'eventType']], columns=['Date', 'Venue', 'Location', 'Time', 'event_type'])
concerts_df['orchestra_id'] = range(1, len(concerts_df) + 1)
concerts_df.to_sql('Concerts', conn, if_exists='append', index=False)

# Insert Composers
composers_df = pd.DataFrame(work['composerName'], columns=['name'])
composers_df['composer_id'] = range(1, len(composers_df) + 1)
composers_df.to_sql('Composers', conn, if_exists='append', index=False)

# Insert Works
works_df = pd.DataFrame(work[['workTitle', 'conductorName', 'composerName', 'movement']], columns=['title', 'conductor', 'composer_id', 'movement'])
works_df['work_id'] = range(1, len(works_df) + 1)
works_df.to_sql('Works', conn, if_exists='append', index=False)

# Insert Soloists
soloists_df = pd.DataFrame(soloist[['soloistName', 'soloistRoles', 'soloistInstrument']], columns=['name', 'roles', 'instrument'])
soloists_df['soloist_id'] = range(1, len(soloists_df) + 1)
soloists_df.to_sql('Soloists', conn, if_exists='append', index=False)

# Insert Movements
movements_df = pd.DataFrame(movement[['movement']], columns=['title'])
movements_df['movement_id'] = range(1, len(movements_df) + 1)
movements_df.to_sql('Movements', conn, if_exists='append', index=False)

# Commit the changes and close the connection
conn.commit()
conn.close()

In [94]:
# convert all dataframes into csv
orchestras_df.to_csv('csv/orchestras.csv', index=False)
concerts_df.to_csv('csv/concerts.csv', index=False)
composers_df.to_csv('csv/composers.csv', index=False)
works_df.to_csv('csv/works.csv', index=False)
soloists_df.to_csv('csv/soloists.csv', index=False)
movements_df.to_csv('csv/movements.csv', index=False)